 .container {
      display: flex;
    }
    
    #name_kurs {
      width: 550px;
    }
    
    #punkt_menu {
      width: 550px;
    }
    
    #main {
      width: 750px;
    }
    
    ul {
      list-style: none
    }
	#lesson{
	min-width: 100%;
	min-height: 300px;
	}
